@{
    ViewData["Title"] = "Home Page";
}

@*<div class="jumbotron mt-3">
        <h1>Welcome to Fast Food App</h1>
    </div>*@

<!-- Jumbotron -->
<div class="jumbotron text-center blue-grey lighten-5">

    <!-- Title -->
    <h1 class="card-title h1">Welcome to Fast Food App</h1>

    <!-- Subtitle -->
    <p class="indigo-text my-4 font-weight-bold"></p>

    <!-- Grid row -->
    <div class="row d-flex justify-content-center">

        <!-- Grid column -->
        <div class="col-xl-7 pb-2">

            <p class="card-text">To get started enter your delivery area or press the localisation icon</p>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <hr class="my-4 pb-2">

    <button class="btn btn-info">Location <i class="far fa-gem ml-1"></i></button>
    <button class="btn">Find food <i class="fas fa-download ml-1"></i></button>

</div>
<!-- Jumbotron -->
